.item-summary{
    list-style: none;
    box-shadow: 0 2px 5px 2px rgba(94, 95, 99, 0.76);
    padding: 40px;
    margin: 0px;
    border-radius: 2px;
    width: 300px;
    cursor: pointer;
}
.item-summary button {
    margin-top: 7px;
}

.item-summary img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}