.sw-button {
    border-radius: 2px;
    border: 0;
    padding: .5em 1.5em;
    cursor: pointer;
}

.sw-button.primary {
    background-color: #e7d300;
}

.sw-button.warn {
    background-color: #b60b0b;
    color: #fff;
}

.sw-button.raised {
    box-shadow: 0 0.1em 0.3em rgba(166, 169, 179, .8);
}